html,body {
    margin: 0;
    padding: 0;
}

h2 {
    span {
	color: blue;
    }
}


ul {
    border: 2px dotted black;
    flex-align: center;
    padding: 0;
    display: flex;
    display: -webkit-flexbox;
    flex-direction: row;
    width: 98%;
    max-width: 98%;
    flex-wrap: wrap;
}

/* ul li:nth-child(3) { */
/*     order: 3; */
/*     border: thin solid green; */
/* } */

/* ul li:nth-child(1) { */
/*     order: 2; */
/*     border: thin solid red; */
/* } */

li  {
    text-align: center;
    list-style: none;
    margin: 10px;
    padding: 10px 10px;
    border: thin solid blue;
    flex: 250px ;
}
.preview {
    display: block;
    width: 100%;
    background: #ccc;
    padding: 40px;
    text-align: center;
}